
<table class="hwk-name-header-table hwk-name-header-template">   
  <tr><th colspan="5" class="hwk-header-name">Name:</th></tr>
  <tr><th colspan="5" class="hwk-header-subtext">(full first and last name)</th></tr>
  <tr>
    <th class="hwk-header-umail-label">UCSD email address:</th>
    <th class="hwk-header-umail-entry"> @ucsd.edu</th>
    <!--    <th rowspan="3" class="hwk-header-section"> section<br>9am or 10:30am</th> -->
  </tr>
  <tr>
    <th colspan="2" style="text-align:left; vertical-align:middle; font-size: 8pt !important; font-family:Arial Narrow, sans-serif; line-height:105%;"> Optional: name you wish to be called<br />if different from name above.
  </th></tr>
  <tr>
    <th colspan="2" style="text-align:left; vertical-align:middle; font-size: 8pt !important; font-family:Arial Narrow, sans-serif; line-height: 105%;"> Optional: name of "homework buddy"<br />(leaving this blank signifies "I worked alone"
    </th>
  </tr>
</table>
