<div data-role="collapsible" data-collapsed="{{ include.collapsed }}">
<h3>Week {{ include.week }} &mdash; Projects</h3>
<ul>
  {% for item in site.lectures %}
  {% if item.week == include.week %}
  <li {% if item.indent %} class="indent" {% endif %} >
    {% if item.link_topic_desc_only %}
      <a href="{{ item.url }}">{{ item.topic }}</a>&mdash;{{ item.desc }}
    {% else %}
      <a href="{{ item.url }}">
      {{ item.lecture_date |  date: "%a %m/%d" }}</a>&mdash;
      {{ item.topic }}&mdash;{{ item.desc }}
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
</div>
